body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#formulaire {
    padding: 10px;
    text-align: center;
}

#formulaire input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    width: 80%;
}

#formulaire button[type="submit"] {
    border: none;
    border-radius: 3px;
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
}

.photo
{
    width: 350px;
    height: 350px;
    margin-top : 20px;
    border: 1px solid #000000;
}
.bandeau
{
    position:relative;
}

#prenom
{
    font-weight: bold;
}

#biographie, #age, #ville, #username, #prenom
{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding-top: 10px;
}

#match-container {
    display: flex;
    flex-direction: row;
    height: 83%;
    width: 100%;
}

.messages:hover
{
    background-color: #ebebeb;
}

#nom-chat, #contenu-chat
{
    align-items: center;
    font-family: Roboto, sans-serif;
}

#nom-chat
{
    font-weight: bold;
}

#contenu-chat
{
    margin-right: 40px;
}

#chat-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 40%;
    overflow-y: scroll;
    background-color: #bebebe;
}

.messages {
    border-bottom : 1px solid #000000;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color : white;
}

.photo-chat
{
    height: 100%;
}

#bouton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.like, .dislike {
    width: 5%;
    display: flex;
    align-items: center;
    margin-left : 15px;
    margin-right: 15px;
    margin-top: 15px;
}

img
{
    border-radius: 50%;
}

#photo-and-bouton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
}